/*********************************
 *         Global CSS            *
 *********************************/
body{
    margin: 0;
    padding: 0;
}
/*********************************
 *         Header CSS            *
 *********************************/

 header{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #31322F;
    color: #FFF;
    border-bottom: 3px solid #C30044;
}

header img{
    width: 75px;
    height: 75px;
}

.header-nav--ul{
    display: none;
    list-style: none;
    padding-right: 15px;

}

.menu-checkbox:checked ~ .menu {
    display: block;
}
.menu-checkbox{
    display: none;
}
.header-nav--ul li{
    margin: auto;
    width: 90%;
    color: #fff;
    list-style: none;
    border: 1px solid #fff;
    padding: 10px;
 }
.header-nav--ul li a{
    color: #fff;
    text-decoration: none;
}

/*********************************
 *         Aside CSS              *
 *********************************/
 aside{
    text-align: center;
    width:100%;
    border-bottom: 3px solid #C30044;

}

aside ul{
    padding-left: 5px;
    padding-right: 5px;
}
aside ul li{
    margin: auto;
    width: 90%;
    list-style: none;
    border: 1px solid #31322F;
    padding: 10px;
}

aside ul li a{
    color: #000;
    text-decoration: none;
}

/*********************************
 *         Main CSS               *
 *********************************/
 main{
    padding: 15px;
}
main ul {
    padding: 0;
    text-align: center;
}

main ul li{
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    width: 250px;
    border-bottom:1px solid #eae7da;
}

main img{
   width: 200px;
   height: 100px;
}

.main-bedroom--title h3, .main-bedroom--title h4{
    margin: 0;
}

.main-bedroom--btn{
    display:block;
    margin: auto;
    width: 100px;
    text-align: center;
    margin-right: 1%;
    padding: 5px;
    background-color: #31322F;
    color: #fff;
    text-decoration: none;
}

 /*********************************
 *         Footer CSS             *
 *********************************/
 footer{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #31322F;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 3px solid #C30044;
    text-align: center;
}
.footer-copy{
    order: 2;
}

footer p a{

    color: #fff;
    text-decoration: none;
} 

.footer-nav--ul{
    margin: 0;
    padding: 0;
}
.footer-nav--ul li{
    width: 90%;
    margin: auto;
    color: #fff;
    list-style: none;
    border: 1px solid #fff;
    padding: 10px;
}

.footer-nav--ul li a{
    color:#fff;
    text-decoration: none;
} 