
/*********************************
 *         Global CSS            *
 *********************************/
 body{
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
 }
 
.content{
    display: flex;
}

 /*********************************
 *         Header CSS             *
 *********************************/
 header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #31322F;
     color: #FFF;
     padding-left: 15px;
     padding-right: 15px;
     border-bottom: 3px solid #C30044;
 }
header img{
    width: 100px;
    height: 100px;
}

.header-nav label, .header-nav input{
    display: none;
}

 .header-nav--ul{
     display: flex;
     justify-content: center;
     list-style: none;
     padding-right: 15px;

 }

 .header-nav--ul li{
    width: 70px;
 }

 .header-nav--ul li a{
     color: #fff;
     text-decoration: none;  
 }

 .header-nav--ul li a:hover{
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 5px solid #C30044;  
}

 /*********************************
 *         Aside CSS              *
 *********************************/
 aside{
     width:25%;
     padding-left: 15px;
     padding-right: 15px;
     border-right: 1px solid #D0D0D0;
 }
 aside ul{
     text-align: left;
     padding: 0;
 }
 aside ul li{
     list-style: none;
     text-align: left;
     padding-top: 15px;
 }

 aside ul li a{
    text-decoration: none;
    color: #000;
 } 

 aside ul li a:hover{
    text-decoration: none;
    color: #31322F;
 } 

 .nav-aside label, .nav-aside input{
    display: none;
}

 /*********************************
 *         Main CSS               *
 *********************************/
 main{
     width: 80%;
     padding: 15px;
 }
 main ul{
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px; 
 }
 main ul li{
     list-style: none;
     padding-left: 15px;
     width: 250px;
 }

 main img{
    width: 200px;
    height: 100px;
}
.main-bedroom--title{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.main-bedroom--title h3, .main-bedroom--title h4{
    margin: 0;
}

.main p{
    width: 200px;
    margin-top: 0;
}

.main-bedroom--btn{
    width: 65px;
    padding: 5px;
    background-color: #31322F;
}

.main-bedroom--btn a{
    color: #fff;
    text-decoration: none;
}
.main-bedroom--btn:hover{
   background-color: #5A6268;
}
 /*********************************
 *         Footer CSS             *
 *********************************/
footer{
    display: flex;
    color: #fff;
    background-color: #31322F;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 3px solid #C30044;
}
footer p{
    width: 40%;
}
footer p a{
    color: #fff;
    text-decoration: none;
} 

footer p a:hover{
    color: #5A6268;
} 

.footer-nav--ul{
    display: flex;
    width: 40%;
    margin: auto;
}

.footer-nav--ul li{
    list-style: none;
    width: 150px;
}

.footer-nav--ul li a{
    color:#fff;
    text-decoration: none;
} 

.footer-nav--ul li a:hover{
    color:#fff;
    border-bottom: 2px solid #C30044;
}

.footer-nav label, .footer-nav input{
    display: none;
}