/*********************************
 *         Global CSS            *
 *********************************/
 body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*********************************
 *         Header CSS             *
 *********************************/
 header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #31322F;
    color: #FFF;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    border-bottom: 3px solid #C30044;
    flex-wrap: wrap;
}
h1{
   padding-right: 15%;
}
.header-nav{
    display: flex;
    padding-left: 0;
}
.header-nav--ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

}

.header-nav--ul li{
    width: 70px;
 
 }

.header-nav label, .header-nav input{
    display: none;
}

.header-nav--ul li a{
    color: #fff; 
}

/*********************************
 *         Aside CSS              *
 *********************************/
 aside{
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #D0D0D0;
}

aside ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 15px;
}

aside ul li{
    border: 3px solid #31322F;
    padding: 2%;
    list-style: none;
    text-align: left;
}

aside ul li a{
    text-decoration: none;
    color: #31322F;
 } 

 .nav-aside label, .nav-aside input{
    display: none;
}
 /*********************************
 *         Main CSS               *
 *********************************/
 main{
    width: 95%;
    padding: 15px;
}

main ul li{
    display: flex;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:2px solid #ddd;
}

main ul li p{
 padding-left: 2%;
 padding-right: 2%;
}
main img{
    width: 218px;
    height: 200px;
}

.main-bedroom--title{
    padding-left: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.main-bedroom--btn{
    margin-top:160px;
    padding: 1%;
    height: 25px;
    background-color: #31322F;
}

.main-bedroom--btn a{
    color: #fff;
    text-decoration: none;
}
 /*********************************
 *         Footer CSS             *
 *********************************/
 footer{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #31322F;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 3px solid #C30044;
    text-align: center;
}

.menu-checkbox-footer:checked ~ .menu-footer {
    display: block;
}

.menu-checkbox-footer{
    display: none;
}

.footer-copy{
    order: 2;
}

footer p a{

    color: #fff;
    text-decoration: none;
} 

.footer-nav--ul{
    display: none;
    margin: 0;
    padding: 0;
}
.footer-nav--ul li{
    width: 90%;
    margin: auto;
    color: #fff;
    list-style: none;
    border: 1px solid #fff;
    padding: 10px;
}

.footer-nav--ul li a{
    color:#fff;
    text-decoration: none;
} 